body {
    background-color: whitesmoke;
}

img {
    width: 200px;
    border-radius: 75%
}

.lesson {
    background-color: lemonchiffon;
}
/* 
li {
    font-weight: 900;
} */

#email {
    font-weight: bold;
    background-color: lemonchiffon;
}


#github {
    font-weight: bold;
    background-color: inherit email;
}

#portfolio {
    font-weight: bold;
}